/* reset */
html, body, header, footer, div, p, h1, button {
    margin: 0;
    padding: 0;
    font-size: 0;
}

a {
    text-decoration: none;
    color: inherit;
}


body {
    font-family: Apple SD GOthic Neo, 'Malgun Gothic', '맑은 고딕', sans-serif;
    min-width: 320px;
}

.error_wrap .gif_wrap {
    margin: 76px 0 24px 0;
    font-size: 0;
    text-align: center;
}
.gif_404 {
    width: 120px;
    height: 120px;
}
.error_wrap .warning {
    margin-bottom: 5px;
    font-size: 22px;
    height: 26px;
    color: #000;
    text-align: center;
}
.error_wrap .warning_description {
    font-size: 16px;
    height: 19px;
    color: #7f7f7f;
    text-align: center;
}
 .kakaopay_wrap {
    display: none;
}
 .voc_description {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 30px;
    height: 16px;
    font-size: 14px;
    color: #b2b2b2;
    text-align: center;
}
 .voc_description .voc_link {
    text-decoration: underline;
}


@media screen and (min-width: 768px) {
    .error_wrap {
        margin: 107px 0 54px 0;
    }
    .error_wrap .gif_wrap {
        margin: 0;
    }
    .error_wrap .gif_wrap .emo_gif {
        width: 160px;
        height: 160px;
    }
    .error_wrap .warning {
        height: 31px;
        font-size: 26px;
        margin-bottom: 6px;
    }
    .error_wrap .warning_description {
        height: 21px;
        font-size: 18px;
    }
.kakaopay_wrap {
        display: block;
        margin-bottom: 12px;
        text-align: center;
    }
 .kakaopay_wrap .kakaopay_button {
        border: none;
        margin: 0 auto;
        line-height: 60px;
        width: 240px;
        height: 60px;
        background-color: #ffcd00;
        font-size: 20px;
    }
 .kakaopay_wrap .kakaopay_button .kakaopay_name {
        font-weight: bold;
    }
 .voc_description {
        position: static;
        font-size: 12px;
        height: 14px;
    }
}
